Source: metronome
Section: net
Priority: extra
Maintainer: Jérôme Lebleu <jerome@yunohost.org>
Build-Depends:
 lua5.1, liblua5.1-dev,
 libidn11-dev, libssl-dev, debhelper (>> 8.1.3), txt2man, quilt (>= 0.46-7)
Standards-Version: 3.9.4
Homepage: http://www.lightwitch.org/metronome

Package: metronome
Architecture: any
Multi-Arch: foreign
Depends: adduser, ssl-cert, lua5.1,
 lua-event,
 lua-expat (>= 1.2.0),
 lua-socket,
 lua-sec,
 lua-filesystem (>= 1.4.2-3~),
 ${shlibs:Depends}, ${misc:Depends}
Recommends: lua-zlib, lua-bitop
Suggests: lua-dbi-postgresql, lua-dbi-mysql, lua-dbi-sqlite3
Provides: metronome-xmpp-server, metronome
Conflicts: prosody-xmpp-server, prosody
Replaces: prosody-xmpp-server, prosody
Description: Lightweight XMPP server with advanced microblogging features
 Metronome IM is a simple-to-use XMPP server initiated as a fork of prosody. It
 offers better performances under load.

