#!/usr/bin/make -f

CFLAGS:="$(shell dpkg-buildflags --get CPPFLAGS) $(shell dpkg-buildflags --get CFLAGS) -fPIC -Wall -D_GNU_SOURCE"
LDFLAGS:="$(shell dpkg-buildflags --get LDFLAGS) -shared"

%:
	dh --with quilt $@

override_dh_auto_configure:
	./configure --ostype=debian --prefix=/usr --cflags=$(CFLAGS) --ldflags=$(LDFLAGS)

#override_dh_auto_build:
#	dh_auto_build
#	$(MAKE) -C tools/migration

override_dh_auto_install:
	$(MAKE) install DESTDIR=debian/tmp
#	$(MAKE) -C tools/migration install DESTDIR=../../debian/tmp
#	cp tools/ejabberd2prosody.lua debian/tmp/usr/bin/ejabberd2prosody
#	cp tools/erlparse.lua debian/tmp/usr/lib/prosody/util

override_dh_installman:
	txt2man -t "metronome 8" -r "Metronome IM" -v "" debian/metronome.man.txt | sed 1d > metronome.8
	dh_installman

override_dh_auto_clean:
	if [ -f config.unix ]; then \
		make clean; \
		rm -f config.unix; \
	fi
	rm -f metronome.8
